/*a  upload */
.a-upload {
    padding: 4px 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor:all-scroll;
    color: #566;
    background:#fafafaaa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: -1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
}
.file {
    position: relative;
    display: inline-block;
    background: #505050;
    border: 1px solid #404040;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #A0A0A0;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #b0b0b0;
    border-color: #505050;
    color: #505050;
    text-decoration: none;
}



.like {
    background: url(../images/like.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    position:fixed;
    top:80%;
    right:10%;
}
.like:hover{
    background: url(../images/liked.jpg);
     background-size: cover;
    height: 50px;
    width: 50px;
    position:fixed;
    top:80%;
    right:10%;
}
.liked {
    background: url(../images/liked.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    position:fixed;
    top:80%;
    right:10%;
}