.modify{
    position: fixed;
    top:30%;
    left:25%;
background-color:white;
    opacity; 
display:none;
    width: 600px;
    height: 280px;
    margin: 0 auto;
z-index:99999;
border:solid 1px #808080;
    color:whitesmoke;
}
.modify caption{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:dimgrey;
    font-size: 16px;
    color: #fff;
}
.sss {
    background-color: black;
    opacity: 0.9;
/*    margin: 50px;*/
    width: 600px;
    height: 200px;
}

.modify-1 {
    position:absolute;
    top:60px;
    right: 150px;
}

.modify-2 {
    position:absolute;
    top:60px;
    right: 30px;
}
.123{
	position: absolute;
	 top:60px;
    right: 250px;
	color: #ffffff;
    background-color:grey;
	
}
